 html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}
body{
    margin:0;
}
.flex-border {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 217, 188);
  }
.flex-border>div{
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height:75px;
    font-size: 30px;
  
}




hr.new1 {
    border-top: 1px 
    solid rgb(0, 0, 0);
    margin-top:85vh;
  }
