 html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(228, 245, 220);
    font-size: 3vh;
}
body{
    margin:0;
}

.flex-container{
  border-style: solid;
  border-color:rgba(250, 0, 217, 0);
  display: flex;
  background-color:rgba(255, 0, 179, 0);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
transform: scale(1);
justify-content: center;
} 


.flex-container > div{
  color: rgb(33, 33, 33);
  background-color:mediumseagreen;
padding:2vh;
  font-size:30px;
  border-radius: 1em;
  margin:2vw;

}
.flex-container > p{
  text-align: center;
  color: mediumseagreen;
  padding: .5%;
  font-size:20px;
}


.flex-exp{
  flex-direction: column;
  border-style: solid;
  border-color:rgba(96, 134, 96);
  display: flex;
  background-color:rgb(96, 134, 96);
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  margin-top:1%;
  border-radius: 1em;
}
.flex-exp > div{
  text-align: center;
 color: rgb(30, 110, 47);
  margin-top:1vh;
  padding: .5%;
  font-size: 30px;
}
.flex-exp > p{
  text-align: center;
  color: mediumseagreen;
  margin: 10px;
  padding: .5%;
  font-size:20px;
  
}

.rectangle{
  height:85vh;
  width:100%;
  background-image: url("Images/VB.jpg");
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  padding-right: .5vw;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd00;
  font-size: .5em;
}
#header{
  background-color: darkolivegreen;
}
.r-text{
  text-align: center;
  font-size: 4em;
  color:forestgreen;
  margin-top: 7%;
}
.r-subtext{
  text-align: center;
  font-size: 2em;
  color:forestgreen;
  ;
}

