 html {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(228, 245, 220);
   font-size: 3vh;
 }

 body {
   margin: 0;
 }

 .flex-container {
   border-style: solid;
   border-color: rgba(250, 0, 217, 0);
   display: flex;
   background-color: rgba(255, 0, 179, 0);

   margin-top: 2%;
   transform: scale(1);
   justify-content: center;
 }


 .flex-container>div {
   color: rgb(99, 99, 99);
   background-color: rgba(127, 128, 127, 0);
   font-size: .8em;
   border-radius: 1em;
   padding-left: 5vw;
   padding-right: 5vw;
   padding-top: 2vh;

 }

 .flex-container>p {
   text-align: center;
   color: mediumseagreen;
   padding: .5%;
   font-size: 20px;
 }


 .flex-exp {
   flex-direction: column;
   border-style: solid;
   border-color: #e1edd2;
   display: flex;
   background-color: #e1edd2;

   justify-content: center;


 }

 .flex-exp>div {
   text-align: center;
   color: rgb(38, 112, 53);
   margin-top: 1vh;
   padding: .5%;
   font-size: 30px;
   font-weight: 500;
 }

 .flex-exp>p {
   text-align: center;
   color: rgb(81, 145, 108);
   margin: 10px;
   padding: .5%;
   font-size: 20px;

 }

 .rectangle {
   height: 50vh;
   width: 100%;
   background-image: url("../Images/circuit.jpg");
   background-repeat: no-repeat;
   background-position: center;



 }

 .nav {
   height: 5vh;
   background-color: whitesmoke;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   text-align: center;
   float: right;
   padding-right: .5vw;
 }

 li a {
   display: block;
   padding: 8px;
   background-color: #ffffff00;
   font-size: .5em;
   text-decoration: none;
   color: white;
 }

 #header {
   background-color: darkolivegreen;
 }

 .r-text {
   text-align: center;
   font-size: 4em;
   color: rgb(248, 248, 248);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;

 }

 .r-subtext {
   text-align: center;
   font-size: 2em;
   color: rgb(248, 248, 248);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
 }

 .frame {
   width: 100%;
   height: 35%;
   background-image: url(../Images/circuit.jpg);
   margin-bottom: 8%;

 }

 .foot {
   width: 100%;
   height: 15vh;
   background-color: #e1edd2;
 }

 .spacer {
   height: 10vh;
   width: 100%;
   background-color: #e1edd2;
 }

 #a {
   background-image: url(../Images/apcollegeboard.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 #b {
   background-image: url(../Images/OAISD\ CTC\ H\ C.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 #c {
   background-image: url(../Images/tmp_2565_3-10-2022_40442_.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 .edu {
   width: 20vw;
   height: 65vh;

   overflow: hidden;
 }

 .edu>p {
   font-size: 90%;

 }

 .edu>a {
   font-size: 1.8vh;
 }

 .proj {
   width: 20vw;
   height: 30vh;

 }

 #projpic {
   background-image: url(../Images/Screenshot\ 2023-05-25\ 084326.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;

 }

 #prop3 {
   flex-direction: column;
   justify-content: center;
   margin-left: 33vw;
 }

 .prjctpic {
   width: 35vw;
   height: 22vh;
   background-image: url(../Images/IMG_20230412_221802_869.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   margin-left: auto;
   margin-right: auto
 }